const reducer = (state = {count: 0}, action) => {
  switch(action.type) {
    case: 'ADD'
      return { count: state.count + 1 }
    case: 'SUBTRACT'
      return { count: state.count - 1 }
    case: 'ADD_VALUE'
      return { count: state.count + action.value }
    default:
      return state
  }
}
